	<div class="navigation-strip">
		<div class="container">
			<div class="nav_content">
				<div class="home">
					<a href="index.html"><img src="images/cpts/home.png" alt="" /></a>
				</div>
				<div class="search">
					<form>
						<input type="text" value="" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search..';}"/>
						<input type="submit" value="">
					</form>
				</div>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>						
						<li><a href="about.html">简介</a></li>
						<li><a href="portfolio.html">相册</a></li>
						<li><a href="blog.html">博客</a></li>
						<li><a href="contact.html">联系我</a></li>
						<div class="clearfix"></div>
					</ul>
				</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			    </script>
			    <!-- script for menu -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
